<div class="w-full my-4 md:my-0 mx-auto z-10 grow bg-gray-300/30 backdrop-blur rounded-md overflow-hidden text-left">
  <div class="h-full w-full">
    <div data-controller="map" id="map" class="h-96 w-full">
      <%= render 'shared/loader' %>
    </div>
  </div>
</div>
