<div class="mx-auto w-full grid">
  <%= link_to '<- Home', root_path, { class: 'text-lg mb-8 hover:font-bold' } %>
  <a href="https://www.google.com/maps/d/viewer?mid=1UtogyvQzegPXZYLARMCTwckZTRxIOOLf" target="_blank" class="text-4xl underline font-bold text-indigo-900 hover:text-indigo-700">Crowd
    Sourced Water Report - Google Maps</a>
  <iframe src="https://www.google.com/maps/d/embed?mid=1UtogyvQzegPXZYLARMCTwckZTRxIOOLf&ehbc=2E312F"
          class="w-full h-96 mb-8"></iframe>

  <a href="https://arcg.is/0O0n100" target="_blank" class="text-4xl underline font-bold text-indigo-900 hover:text-indigo-700">Official
    Pacific
    Crest Trail Association Map</a>
  <iframe class="w-full h-96" frameborder="0" scrolling="no" allowfullscreen src="https://arcg.is/1euufb1"></iframe>
</div>