<div class="w-full h-full grid grid-flow-col gap-4 items-center self-center align-middle justify-center m-auto text-center">
  <span class="loader-text">Loading</span>
  <!--  css animation-->
  <span class="loader-compass"></span>
  <span class="loader-text">Map</span>
</div>