<div class="p-2 rounded bg-gray-300/30 mr-2 text-sm shrink-0">
  <p class="text-gray-900 grid text-sm">
    <span class="font-bold cursor-pointer text-teal-900 hover:text-teal-700">
      <%= render 'waypoints/geocode', waypoint: waypoint %>
    </span>
    <span class="text-gray-500 font-medium">
      <%= render 'shared/local_time', time: waypoint.external_created_at  %>
    </span>
  </p>
</div>